@inherits LayoutComponentBase

<div class="page">
    <div style="width:200px;height:100vh" class="bg-light border-end">
        <div style="height:3.5rem" class="border-bottom p-2">
            <p>pipi</p>
        </div>
        <div class="p-2">
            <ul>
                <li>project 1</li>
                <li>project 2</li>
                <li>project 3</li>
                <li>project 4</li>
            </ul>
        </div>
    </div>

    <main>
        <div style="height:3.5rem" class="bg-light border-bottom">
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
